*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: calc(100% - 120px);
    margin: auto;
}
.row{       
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
text-decoration: none;
}