@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
:root{
    --mainFont:"Poppins", sans-serif;
    --subFont:"Inter", sans-serif;
    --mainColor:#545BE8;

}
body{
font-family:  var(--mainFont);
}
/* navbar start */
.navbar{
    background-color:#fff;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:20px 0px;
}
.navbar .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px
}
.navbar .logo img{
    width: 40px;
    height: 40px;
}
.navbar .logo a{
    color: var(--mainColor);
    font-weight: 600;
}
.Bold{
    font-weight: bold;
}
.navs ul  {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 20px;
}
.navs ul li a {
    color:#101928;
}
.navbar .auth a {  
    font-family: var(--subFont);
    border: 1px solid ;
}
.Login{
    background-color: #fff;
    color: var(--mainColor);
    padding:10px 30px;
    border-radius: 10px;
}
.Register{
    color:#fff;
    background-color: var(--mainColor);
    border-radius: 10px;
    padding:10px 23px;
}
@media(max-width:940px){
.navs{
    display: none;
}
}
/* navbar end */

/* Testimonials start */
.Testimonials{
    padding: 40px 0px;
} 
.Testimonials h2{
    text-align: center;
    margin-bottom: 25px;
    font-family: Mada;
    font-size: 30px;
}
.Testimonials .row{
    gap: 40px;
}
.Testimonial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px ;
    width: calc(( 100% - 40px ) / 2 );
    box-shadow: 0px 8.237px 8.237px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    position: relative;
    

}
.Testimonial::after{
    content:'';
    border-top: 70px solid #F4F4F4;
    border-left: 70px solid transparent;
    border-bottom: 70px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}


.user-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.user-info{
    display: flex;
    gap: 15px;
    align-items: center;
}
.user-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}
.Testimonial .user-info .user-details span{
    font-size: 13px;
    color: #969696;
}
.Testimonial .rating img {
    width: 25px;
    height: 25px;
    margin: 20px 0;
}
.Testimonial .rating {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.Testimonial blockquote q {
    color: #646464;
}
.Testimonial blockquote  p {
    display:inline-block;
    padding: 0px 5px;
}
/* Testimonials end */

/* footer start */
.footer{
    display: flex;
    background-color: #393E46;
    color: #F4F4F4;
    padding: 80px 0px;
}
.footer .row{
    gap: 50px;
    align-items: flex-start;
}
.footer-end , .footer-start{
    width: calc(50% - 40px );
}
.footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-start p {
    font-size: 15px;
    font-weight: 300;
    

}
.footer .logo img{
    width: 40px;
    height: 40px;
}
.footer .footer-start .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.footer .footer-start .icons img{
    height: 30px;
    width: 30px;
    border: solid 2px #fff;
    padding: 5px;
}
.footer-item h2{
        padding-bottom: 15px;
}
.footer-item {
    flex-direction: column;
    gap: 30px;    
}

.footer-item ul{
    display: flex;
    flex-direction: column;
    gap: 10PX;
}
.footer a{
    color: #F4F4F4;
}
/* footer end */